a {
    align-items: center;
    text-decoration: none;
    color: black;
    font-size: 25px;
    padding-right: 20px;
}

body {
    background-color: rgb(241, 237, 237);
    font-family: 'Open Sans', sans-serif;
}

.header {
    padding-bottom: 10px;

}

.flex {
    display: flex;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

ul {
    list-style: none;

}

.nameclass {
    font-family: 'Open Sans', sans-serif;
    color: red;
    font-size: 20px;
    font-weight: 600;
}

.main-container {
    text-align: center;
    margin-bottom: 50px;
}

.header-info {
    font-size: 24px;

}

.poster-item {
    width: calc((100% - 40px) / 5);
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.poster-item:not(:last-child) {
    margin-right: 30px;
}

.poster-item img {
    display: flex;
    flex: 1;
    object-fit: cover;
    overflow: hidden;
}

.poster-content-wrapper {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 10px;
    border: 2px solid rgb(180, 180, 180);
    border-top: none;
}

.poster-header {
    margin: 0;
    margin-bottom: 5px;

}

.poster-link {
    margin-bottom: 10px;
}

.poster-span {
    margin-bottom: 5px;
    font-size: 20px;
}

.poster-list {
    display: flex;
}

img {
    max-width: 100%;
}